<div id="policy">
  <%= render partial: "policy" %>
</div>

<div id="controls">
  <%= link_to "Continue?", welcome_index_path %>
</div>

<style>
  #policy {
    overflow: scroll;
    width: 80%;
    height: 500px;
  }
</style>
